# ======================
# 1️⃣  ІГНОРУЄМО ВСЕ
# ======================
*

# ======================
# 2️⃣  ДОЗВОЛЯЄМО ГОЛОВНІ ФАЙЛИ
# ======================
!.gitignore
!README.md

# ======================
# 3️⃣  ДОЗВОЛЯЄМО ПАПКУ SRC
!src/
!src/**

# ======================
# 4️⃣  ІГНОРУЄМО ВСЕ ІНШЕ ВСЕРЕДИНІ SRC, КРІМ ПОТРІБНИХ
src/*

!src/components/
!src/components/**
!src/views/
!src/views/**

