@import './variables';
@import './mixins';
@import './reset';

body {
  background-color: $color-background;
  color: $color-text;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
.on-hero {
  color: #542609; // або #111, або var(--text-color-dark)
  opacity: 1;
  position: relative;
  z-index: 10;
}
button {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border: 2px solid #00cec8;
  border-radius: 30px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #00cec8;
    color: #fff;
    border: 2px solid #00cec8;
  }
}
